body{background-image:url("images/fon.jpg");}
.li3{display:inline-block; border:2px solid grey; color:grey;font-size:20px; background-color:white;}
.m_pruhov{display:none}
li:hover .m_pruhov{display:block; width:-55px; text-decoration:none;position:absolute;  color:white; top:120px; left:32%;}
li:hover li{display:block}
p{color:white;}
li{list-style:none; display:inline-block; padding:3px;}
img{width:300px; height:500px;}
h1{color:white; font-size:40px;}
footer{color:#898989;}
hr{height:10px; background-color:blue;}
	a{text-decoration:none; color:grey; font-size:30px; margin:5px;}
.li4{color:grey; font-size:30px; margin:5px;}
footer ul li{border:2px solid #b2b3b5;}
.li5{border:2px solid #b2b3b5;}
.li5:hover{background:#4544547; color:#ffffff; box-shadow:1px 5px 10px -5px black; transition:all 0.3s ease;}
.li6:hover{ box-shadow:1px 5px 10px -5px black; transition:all 0.3s ease;}
.li7{list-style:none; font-family:Time New Romen; font-size:31px; color:grey;}
button{width:70px; height:35px;}
button:hover{background:DarkGray; color:white; transition:all 0.2s ease;}